Node-RED/node-red-flow.js
[{"id":"c66445d5.585f48","type":"websocket-listener","path":"/ws/heatflow","wholemsg":"false"},{"id":"22d7d2f7.dd282e","type":"mqtt-broker","broker":"winter.ceit.uq.edu.au","port":"1883","clientid":""},{"id":"a723794d.58dc88","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"cd7c18ac.3283e8","type":"serial out","name":"","serial":"a723794d.58dc88","x":601,"y":120,"z":"98dd8af9.672278","wires":[]},{"id":"79f34356.860cbc","type":"inject","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":92,"z":"98dd8af9.672278","wires":[["d35e0c31.2ca1f"]]},{"id":"d35e0c31.2ca1f","type":"function","name":"Heatflow Start","func":"msg.payload = \"digitalWrite(LED1,1);\\n Serial1.setup(9600);\\n send_temp = function() {Serial1.println('SENSOR1:300');\\n Serial1.println('SENSOR2:25');\\n};\\n setInterval(send_temp,5000);\\n\";\n\nreturn msg;","outputs":1,"x":393,"y":92,"z":"98dd8af9.672278","wires":[["cd7c18ac.3283e8"]]},{"id":"5832bd43.a7cd44","type":"serial in","name":"","serial":"a723794d.58dc88","x":142,"y":709,"z":"98dd8af9.672278","wires":[["9eac13b9.6153f","d4785404.2b87a8"]]},{"id":"7106a40c.8ef95c","type":"debug","name":"","active":true,"console":false,"complete":false,"x":389,"y":1210,"z":"98dd8af9.672278","wires":[]},{"id":"55fc4faf.aa03b","type":"inject","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178,"y":145,"z":"98dd8af9.672278","wires":[["b9f8782f.460788"]]},{"id":"b9f8782f.460788","type":"function","name":"Heatflow Stop","func":"msg.payload = \"analogWrite(B9,0);\\n analogWrite(B8,0);\\n digitalWrite(LED1,0);\\n digitalWrite(LED2,0);\\n digitalWrite(LED3,0);\\n clearInterval();\\n\";\n\nreturn msg;","outputs":1,"x":378,"y":145,"z":"98dd8af9.672278","wires":[["cd7c18ac.3283e8"]]},{"id":"56f1e83a.a90e18","type":"inject","name":"Fan Speed Up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":291,"z":"98dd8af9.672278","wires":[["fc2b2395.03d4e"]]},{"id":"fc2b2395.03d4e","type":"function","name":"Speed","func":"if (msg.payload < 501) {\n\tcontext.state = msg.payload;\n} else {\n\tcontext.state = context.state || 0;\n\tcontext.state = context.state + 10;\n\tif (context.state > 500) context.state = 500;\n\tmsg.payload = context.state;\n\treturn msg;\n}","outputs":1,"x":327,"y":291,"z":"98dd8af9.672278","wires":[["9188eb1d.6e7718","c5267bb8.3ad988","b000ed1d.4fff1"]]},{"id":"9188eb1d.6e7718","type":"mqtt out","name":"Fan Speed","topic":"fan","broker":"22d7d2f7.dd282e","x":533,"y":372,"z":"98dd8af9.672278","wires":[]},{"id":"fd0bfbef.02f408","type":"mqtt out","name":"","topic":"heater","broker":"22d7d2f7.dd282e","x":587,"y":518,"z":"98dd8af9.672278","wires":[]},{"id":"f7e13c08.081ec","type":"inject","name":"Heater Temperature Up","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137,"y":442,"z":"98dd8af9.672278","wires":[["99cead66.66315"]]},{"id":"99cead66.66315","type":"function","name":"Temperature","func":"if (msg.payload < 36) {\n\tcontext.state = msg.payload;\n} else {\n\tcontext.state = context.state || 0;\n\tcontext.state = context.state + 5;\n\tif (context.state > 35) context.state = 35;\n\tmsg.payload = context.state;\n\treturn msg;\n}","outputs":1,"x":353,"y":440,"z":"98dd8af9.672278","wires":[["fd0bfbef.02f408","6a417856.95be88","a524ba30.5adb48"]]},{"id":"ae2ba0b3.51d46","type":"mqtt in","name":"","topic":"fan","broker":"22d7d2f7.dd282e","x":137,"y":1017,"z":"98dd8af9.672278","wires":[["acf0bbf4.530f48","7106a40c.8ef95c"]]},{"id":"162dfb3b.e9d205","type":"mqtt in","name":"","topic":"heater","broker":"22d7d2f7.dd282e","x":136,"y":971,"z":"98dd8af9.672278","wires":[["50b945cb.af46bc","7106a40c.8ef95c"]]},{"id":"129d95d9.ed626a","type":"mqtt out","name":"Sensor 1","topic":"sensor1","broker":"22d7d2f7.dd282e","x":601,"y":679,"z":"98dd8af9.672278","wires":[]},{"id":"9eac13b9.6153f","type":"function","name":"Sensor1","func":"if (msg.payload.toString().indexOf('SENSOR1:') == 0) {\n\tvar message = msg.payload;\n\tmsg.payload = message.substring(8);\n\treturn msg;\n}\n","outputs":1,"x":341,"y":679,"z":"98dd8af9.672278","wires":[["129d95d9.ed626a"]]},{"id":"ffcccab6.003338","type":"inject","name":"Fan Speed Down","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":373,"z":"98dd8af9.672278","wires":[["b000ed1d.4fff1"]]},{"id":"b000ed1d.4fff1","type":"function","name":"Speed","func":"if (msg.payload < 501) {\n\tcontext.state = msg.payload;\n} else {\n\tcontext.state = context.state || 0;\n\tcontext.state = context.state - 10;\n\tif (context.state <= 0) context.state = 0;\n\tmsg.payload = context.state;\n\treturn msg;\n}","outputs":1,"x":324,"y":373,"z":"98dd8af9.672278","wires":[["9188eb1d.6e7718","c5267bb8.3ad988","fc2b2395.03d4e"]]},{"id":"f752033e.08ae","type":"inject","name":"Heater Temperature Down","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":519,"z":"98dd8af9.672278","wires":[["a524ba30.5adb48"]]},{"id":"a524ba30.5adb48","type":"function","name":"Temperature","func":"if (msg.payload < 36) {\n\tcontext.state = msg.payload;\n} else {\n\tcontext.state = context.state || 0;\n\tcontext.state = context.state - 5;\n\tif (context.state <= 0) context.state = 0;\n\tmsg.payload = context.state;\n\treturn msg;\n}","outputs":1,"x":353,"y":518,"z":"98dd8af9.672278","wires":[["fd0bfbef.02f408","6a417856.95be88","99cead66.66315"]]},{"id":"d3995f84.2c66a","type":"mqtt in","name":"","topic":"sensor1","broker":"22d7d2f7.dd282e","x":136,"y":1075,"z":"98dd8af9.672278","wires":[["42ad6e93.bd529","7106a40c.8ef95c"]]},{"id":"ca04d62b.35fb28","type":"mqtt in","name":"","topic":"sensor2","broker":"22d7d2f7.dd282e","x":139,"y":1131,"z":"98dd8af9.672278","wires":[["6ec57451.913a8c","7106a40c.8ef95c"]]},{"id":"c5267bb8.3ad988","type":"function","name":"Send fan speed to espruino","func":"fan_speed = msg.payload;\n\nmsg.payload = 'var percentageRPM = ' + fan_speed.toString() + '/500;\\n' + 'analogWrite(B8,percentageRPM);\\n';\n\nreturn msg;","outputs":1,"x":578,"y":290,"z":"98dd8af9.672278","wires":[["d3454ab1.2cbab8"]]},{"id":"6a417856.95be88","type":"function","name":"Send heater temperature to espruino","func":"heater_temp = msg.payload;\n\nmsg.payload = 'var percentageTemp = ' + heater_temp.toString() + '/35;\\n' + 'analogWrite(B9,percentageTemp);\\n';\n\nreturn msg;","outputs":1,"x":652,"y":440,"z":"98dd8af9.672278","wires":[["d3454ab1.2cbab8"]]},{"id":"7f09bf68.80f64","type":"comment","name":"Send commands to espruino","info":"","x":143,"y":239,"z":"98dd8af9.672278","wires":[]},{"id":"d3454ab1.2cbab8","type":"serial out","name":"","serial":"a723794d.58dc88","x":779,"y":363,"z":"98dd8af9.672278","wires":[]},{"id":"d4785404.2b87a8","type":"function","name":"Sensor2","func":"if (msg.payload.toString().indexOf('SENSOR2:') == 0) {\n\tvar message = msg.payload;\n\tmsg.payload = message.substring(8);\n\treturn msg;\n}\n","outputs":1,"x":345,"y":747,"z":"98dd8af9.672278","wires":[["e0c40f17.1f3bf","8d60660e.729f98"]]},{"id":"e0c40f17.1f3bf","type":"mqtt out","name":"Sensor 2","topic":"sensor2","broker":"22d7d2f7.dd282e","x":599,"y":746,"z":"98dd8af9.672278","wires":[]},{"id":"c1814fd4.3e7eb","type":"comment","name":"Get temperature of sensors","info":"","x":158,"y":606,"z":"98dd8af9.672278","wires":[]},{"id":"578c0677.a873f8","type":"comment","name":"Web server app","info":"","x":146,"y":818,"z":"98dd8af9.672278","wires":[]},{"id":"23d7bb6d.dc2844","type":"template","name":"Heatflow Webpage","template":"<code>\n\n<!DOCTYPE HTML>\n<html>\n    <head>\n    \t<script src=\"//code.jquery.com/jquery-1.11.1.min.js\"></script>\n  \t\t<script src=\"//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/highcharts.js\"></script>\n        <title>Heatflow Experiment</title>\n    </head>\n    <script type=\"text/javascript\">\n        var server = window.location.hostname;\n        var topics = {};\n        var data_fan_sensor1 = [];\n\t\tvar data_fan_sensor2 = [];\n\t\tvar data_heater_sensor1 = [];\n\t\tvar data_heater_sensor2 = [];\n\t\tvar currentspeed = 0;\n\t\tvar currenttemperature = 0;\n        var wsUriC = \"ws://\"+server+\":1880/ws/heatflow\";\n        function wsConnectC() {\n            console.log(\"connect\",wsUriC);\n            var ws = new WebSocket(wsUriC);\n            var sensor1 = \" \";\n            var sensor2 = \" \";\n            ws.onmessage = function(msg) {\n                //console.log(msg.data.v);\n                var m =JSON.parse(msg.data);\n                if (m.id == \"fan\") {\n                \tdocument.getElementById('fanspeedfield').value = m.v;\n                \tcurrentspeed = m.v;\n                }\n\t\t\t\tif (m.id == \"hea\") {\n\t\t\t\t\tdocument.getElementById('heatertempfield').value = m.v;\n\t\t\t\t\tcurrenttemperature = m.v;\n\t\t\t\t}\n\t\t\t\tif (m.id == \"se1\") {\n\t\t\t\t\tsensor1 = sensor1 + m.v;\n\t\t\t\t\tdocument.getElementById('sensor1_values').innerHTML = \"SENSOR 1: \"+sensor1;\n\t\t\t\t}\n\t\t\t\tif (m.id == \"se2\") {\n\t\t\t\t\tsensor2 = sensor2 + m.v;\n\t\t\t\t\tdocument.getElementById('sensor2_values').innerHTML = \"SENSOR 2: \"+sensor2;\n\t\t\t\t}\n\t\t\t\tif(m.id == \"chart-1\"){showCharts( msg.v.values,msg.v.colors,msg.v.engs,msg.v.tags,msg.v.names,msg.v.nos,msg.v.title,msg.v.xTitle.msg.v.yTitle)};\n            }\n            ws.onopen = function() {\n                document.getElementById('status').innerHTML = \"connected\";\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                document.getElementById('status').innerHTML = \"not connected\";\n                setTimeout(wsConnectC,1000);\n            }\n        };\n        function showCharts(_data,colors,engs,tags,names,nos,cTitle,xTitle,yTitle){ // render chart\n\t\tvar seriesNo = [];\n\t\tfor (i=0; i<nos; i++){\n\t\t\tseriesNo.push({});  \n\t\t}\n\t\tconsole.log(\"seriesNo:\"+seriesNo);\n\t\tvar options = {\n\t\t\tchart: {\n\t\t\t\tmarginRight: 30,\n\t\t\t\trenderTo: 'container',\n\t\t\t\ttype: 'spline',\n\t\t\t\t},\n\t\t\t\t  title: {\n\t\t\t\t\t\ttext: cTitle\n\t\t\t\t},\n\t\t\t\t  xAxis: {\n\t\t\t\t\t type: 'datetime',\n\t\t\t\t\tdateTimeLabelFormats: {\n\t\t\t\t\t\thour: '%H',\n\t\t\t\t\t\tday: '%H <br/>%a %d %b'            \n\t\t\t\t\t},\n\t\t\t\t\tgridLineColor: '#C0C0C0',\n\t\t\t\t\ttickInterval: 1 * 3600 * 1000,\n\t\t\t\t\ttitle: {\n\t\t\t\t\t\ttext: xTitle\n\t\t\t\t\t},\n\t\t\t\t},\n\t\t\t\t yAxis: {\n\t\t\t\t\ttitle: {\n\t\t\t\t\t\ttext: yTitle\n\t\t\t\t\t},\n\t\t\t\t\tmin: 0,\n\t\t\t\t\tgridLineWidth: 0.5\t\t\t\n\t\t\t\t},\n\t\t\t\ttooltip: {\n\t\t\t\t\tformatter: function() {\n\t\t\t\t\t\teng=engs[this.series.options.id];\n\t\t\t\t\t\ttag=tags[this.series.options.id]; \n\t\t\t\t\t\treturn \"<strong>\"+ Highcharts.numberFormat(this.y, 1) +\"</strong>\"+eng+\" \"+tag+\"<br/>\"+ Highcharts.dateFormat('%a %d %b %H:%M:%S', this.x) +'<br/>';\t\t\t   \n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\tseries: seriesNo\n\t\t};\n\t\tfor (i=0; i<nos; i++){\n\t\t\toptions.series[i].id=i;\n\t\t\toptions.series[i].color=colors[i];\n\t\t\toptions.series[i].lineWidth=1;\n\t\t\toptions.series[i].name= names[i];\n\t\t\toptions.series[i].data =  JSON.parse(_data[i]);\n\t\t}\n\t\tvar chart = new Highcharts.Chart(options);\n\t}\n    </script>\n    <body onload=\"wsConnectC();\" onunload=\"ws.disconnect;\">\n        <h1>Heatflow experiment</h1>\n        <h2>Fan Speed</h2>\n        <input type=\"text\", id=\"fanspeedfield\", name=\"fan_speed\", value=\"0\" />\n        <h2>Heater Temperature</h2>\n        <input type=\"text\", id=\"heatertempfield\", name=\"heater_temp\", value=\"0\" />\n        <h2>Results - Charts</h2>\n        <p id=\"sensor1_values\" />\n        <p id=\"sensor2_values\" />\n        <div id=\"chartfan\", style=\"height: 300px; width: 100%;\" />\n\t\t<div id=\"chartheater\", style=\"height: 300px; width: 100%;\" />\n\t\t<div id=\"container\" style=\"width: 100%; margin-left:-15px;\"></div>\n        <hr/>\n        <div id=\"status\">unknown</div>\n    </body>\n</html>","x":421,"y":873,"z":"98dd8af9.672278","wires":[["8fe2f687.701d08"]]},{"id":"31d7c182.ce283e","type":"http in","name":"http request heatflow","url":"/heatflow","method":"get","x":171,"y":872,"z":"98dd8af9.672278","wires":[["23d7bb6d.dc2844"]]},{"id":"8fe2f687.701d08","type":"http response","name":"http response heatflow","x":690,"y":873,"z":"98dd8af9.672278","wires":[]},{"id":"c45bc70.f3ba438","type":"websocket out","name":"websocket out","server":"c66445d5.585f48","x":689,"y":970,"z":"98dd8af9.672278","wires":[]},{"id":"50b945cb.af46bc","type":"function","name":"heater","func":"value = msg.payload;\nmsg.payload = {id:\"hea\", v: value}; \nreturn msg;","outputs":1,"x":391,"y":971,"z":"98dd8af9.672278","wires":[["c45bc70.f3ba438"]]},{"id":"acf0bbf4.530f48","type":"function","name":"fan","func":"value = msg.payload;\nmsg.payload = {id:\"fan\", v: value}; \nreturn msg;","outputs":1,"x":393,"y":1018,"z":"98dd8af9.672278","wires":[["c45bc70.f3ba438"]]},{"id":"42ad6e93.bd529","type":"function","name":"sensor1","func":"value = msg.payload;\nmsg.payload = {id:\"se1\", v: value}; \nreturn msg;","outputs":1,"x":391,"y":1076,"z":"98dd8af9.672278","wires":[["c45bc70.f3ba438"]]},{"id":"6ec57451.913a8c","type":"function","name":"sensor2","func":"value = msg.payload;\nmsg.payload = {id:\"se2\", v: value}; \nreturn msg;","outputs":1,"x":392,"y":1131,"z":"98dd8af9.672278","wires":[["c45bc70.f3ba438"]]},{"id":"8d60660e.729f98","type":"debug","name":"","active":true,"console":false,"complete":false,"x":611,"y":812,"z":"98dd8af9.672278","wires":[]}]